@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* VARIABLES */
:root {
   --mainColor1: #6e2828;
   --backgroundGradient: linear-gradient(
      0deg,
      rgba(255, 150, 65, 1) 0%,
      rgba(255, 150, 65, 1) 60%,
      rgba(71, 166, 98, 0.613865614605217) 71%,
      rgba(234, 234, 204, 0) 80%
   );
   --textColor1: #eaeacc;
   --textColor2: #000000;
   --textColor3: #ffffff;
   --linkColor1: #ff9844;
   --detailColor1: #6e2828;
   --detailColor2: #ed6a01;
   --detailColor3: #e8af7e;
   --detailColor4: #bba99b;
   --detailColor5: #47a662;
}

/* Global */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   /*overflow: hidden;*/
}

/* Body */
body {
   background: rgb(255, 150, 65);
   background: var(--backgroundGradient);
   max-width: 100%;
   font-family: "Red Hat Display", sans-serif;
}

.navbar,
.offcanvas-body,
.offcanvas-header {
   width: 100%;
   height: 152px;
   background-color: var(--mainColor1);
}
.nav-item a {
   color: #e8e9cb;
   font-size: 19px;
   line-height: 20.5px;
   font-weight: bold;
}
/* Slide */
.slide-img {
   width: 100%;
   height: 830px;
}
/* Whatsapp */
.img_wsp {
   width: 100px;
}
.btn-wsp {
   position: fixed;
   width: 55px;
   height: 55px;
   line-height: 55px;
   right: 40px;
   bottom: 30px;
}  


/* Details */

.home-details-allcontainer {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 3rem;
   padding-top: 2rem;
   
}
.home-details-container {
   display: flex;
   justify-content: center;
   /*align-items: flex-start;*/
   border-left: 12px solid var(--detailColor1);
   padding-left: 26px;
   padding-top: 2rem;
}

.home-details-text {
   height: inherit;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.home-details-text__pretitle {
   font-size:24px;
   font-weight: 400;
   position: relative;
   font-size: 34px;
}

.empty {
   position: relative;
}

.home-details-text__pretitle::after, .home-details-text__paragraph::after, .empty::after {
   content: "";
   position: absolute;
}

.home-details-text__pretitle::after {
   background-color: var(--detailColor3);
   width: 360px;
   height: 1.6rem;
   top: -13rem;
   left: -4rem;
}

.home-details-text__paragraph::after {
   background-color: var(--detailColor4);
   width: 230px;
   height: .8rem;
   top: -20rem;
   left: -3.3rem;
   z-index: -1;
}

.empty::after {
   background-color: var(--detailColor2);
   width: 290px;
   height: 1.6rem;
   top: -27.5rem;
   left: -22.5rem;
}


.home-details-text__title {
   font-size: 66px;
   font-weight: 600;
   position: relative;
   z-index: 0;
   text-align: left;
   max-width:fit-content ;
}

.home-details-text__title::after {
   content: "";
   background-color: var(--detailColor2);
   position: absolute;
   width:19.8rem;
   height: 2.5rem;
   top: 2.50rem;
   left: 0;
   z-index: -1;
}


.home-details-text__paragraph {
   width: 70%;
   margin-top: 1rem;
   padding-right: 20px;
   position: relative;
   font-size: 24px;
}


.single-detail-img {
   height: 519px;
   padding-right: 33px;
   position: relative;
}

.home-details__img-col-2 {
   width: 414px;
}

.home-details__img-col-2_img2 {
   margin-top: 52px;
}

.home-details__img-col-1>img, .home-details__img-col-2>img {
   width: 414px;
}



/* Products */

.home-product {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   color: var(--textColor1);
   padding: 4rem 0;
}
.prueba {
   display: flex;
   justify-content: center;
}
.container-title {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
}
.upper-title {
   font-size: 2rem;
   line-height: 36.5px;
   font-weight: 500;
   color: var(--textColor2);
}
.home-contact__title__products {
   margin-top: 0.3rem;
   position: relative;
   z-index: 0;
   font-size: 3.5rem;
   color: var(--textColor2);
}
.home-contact__title__products::after {
   content: "";
   position: absolute;
   background-color: var(--detailColor5);
   width: 95%;
   height: 56%;
   left: 0.2rem;
   top: 2.5rem;
   z-index: -1;
}
.card {
   padding: 0px 0px 8px 0px !important;
   width: 400px !important;
   background-color: var(--detailColor1);
   height: auto;
   border-radius: 0px 0px 15px 15px; 
}


/* Payment & Shipment */

.payment-shipment-container {
   padding: 7rem;
   display: flex;
   flex:1 1 1;
}

.payment-shipment__boxes {
   width: 33%;
   display:flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 2rem;
   gap: 1rem;
}

.shipment-box2 {
   border-left: 2px solid var(--textColor3);
   border-right: 2px solid var(--textColor3);
}


.shipment-box1 {
   padding-left: 0;
}

.shipment-item-title {
   font-size: 19px;
   font-weight: 700;
   color: var(--mainColor1);
}

.shipment-item-text {
   font-size: 19px;
   font-weight: 400;
   color: var(--mainColor1);
}


/* Contact */

.home-contact {
   background-color: #484437;
   background-image: url("https://i.ibb.co/GThRnLD/footer.png");
   object-fit: cover;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: var(--textColor1);
   padding: 4rem 0;
}

.question,
.home-contact__description {
   margin: 0;
   color: var(--textColor3);
   font-weight: 400;
   font-size: 1.2rem;
}

.arrow-img {
   width: 30px;
   margin: 1rem 0;
}

.home-contact__title {
   margin-top: 0.3rem;
   position: relative;
   z-index: 0;
   font-size: 2.5rem;
}
.home-contact__title::after {
   content: "";
   position: absolute;
   background-color: var(--mainColor1);
   width: 98%;
   height: 60%;
   left: 1.2rem;
   top: 1.5rem;
   z-index: -1;
}

/* Footer */

footer {
   width: 100%;
   background-color: var(--mainColor1);
   color: var(--textColor1);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2rem 0;
   padding-top: 3rem;
   gap: 2rem;
}

.footer-rest {
   display: flex;
   max-height: fit-content;
   align-items: flex-start;
   justify-content: space-between;
   width: 60%;
}

.footer-container,
.footer-details {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.footer-details-container {
   height: 100%;
   margin: 0 3rem;
   padding-bottom: 2rem;
   padding-right: 10rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 2px solid var(--textColor1);
}

.footer-details {
   max-width: 30%;
}

.footer-img-logo {
   width: 250px;
   object-fit: cover;
}

.footer-details__title {
   color: var(--linkColor1);
   text-align: left;
   align-self: flex-start;
   font-size: 20px;
}

.footer-details__description {
   list-style: none;
   align-self: flex-start;
   margin: 0;
   padding: 0;
   font-size: 16px;
   line-height: 20px;
}

.footer-copyright {
   height: 100%;
   display: flex;
   text-align: center;
   justify-content: center;
   font-size: 14px;
}

.footer-copyright-center {
   display: flex;
   padding: 0;

   align-items: center;
   align-self: center;
   justify-self: center;
}

.footer-copyright__first {
   padding-right: 10px;
   border-right: 2px solid var(--textColor1);
   align-self: center;
   margin: 0;
}
.footer-copyright__second {
   padding-left: 10px;
   margin: 0;
}

.footer-details__links {
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.footer-social {
   width: 2.2rem;
}
